<% layout('layouts/boilerplate')%>


<h1 
style="display: flex; justify-content: center;">All Campgrounds</h1>
<br>
<br>
<div class="container">
    <div class="row">
        <% for(let campground of campgrounds){%>
            <div class="col-xl-4">
                <div class="card mb-4 cardItem"
                ">
                    <div class="">
                        <div class="">
                            <img  class="img-fluid" style="width: fit-content;" alt="" src=" <%=campground.image%>" >
                        </div>
                        <div class="">
                            <div class="card-body">
                                <h5 class="card-body" style="text-align: left;" >
                                    <%=campground.title%>
                                </h5>
                                <p class="card-text" >
                                <%= campground.description.substring(0, 200) + "..."  %>
                                   
                                </p>
                                <p class="card-text text-muted">
                                    <small class="text-muted">
                                        <%=campground.location%>
                                    </small>
                                </p>
                                <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>"> 
                                    View  <%=campground.title%>
        
                                </a>
                                
                            </div>
                        </div>
                    </div>
        
                </div>
           
               
            </div>

            
        <%}%>


    </div>
</div>
