
<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/styles/stars.css">
<link rel="stylesheet" href="/styles/app.css">

<div class="container">
  <div class="row">
  
 <div class="col-sm">

 
<h1>Profile</h1>


 
<div class="card" style="width: 18rem;">
    
    <div class="card-body">
        <img class="avatar" src="<%= user.avatar %> " alt="">
      <h5 class="card-title"><%= user.name %> </h5>
      <p class="card-text"><%= user.bio %> </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= user.email %> </li>
      <li class="list-group-item"><%= user.username %> </li>
     
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Edit</a>
      <a href="#" class="card-link">Delete Account</a>
    </div>
  </div>
</div>
<div class="col-sm">
  <h2>My Reviews</h2>
  <% for(let review of reviews){%>
    <%  if( currentUser && review.author.equals(currentUser._id))  {%>

      <p class="starability-result" data-rating="<%=review.rating%>">
        Rated: <%= review.rating %> stars
    </p>
      <p><%= review.body  %> </p>
    
    
    <% } %> 
  
    
  
  
  
    <% } %> 
  </div>
  <div class="col-sm">
<h2>My Campgrounds</h2>

<% for(let campground of campgrounds){%>
   
    <% if(currentUser && campground.author.equals(currentUser._id) ){%>
      
        <h1><%= campground.title %> </h1>
        <p><%= campground.description %> </p>
        <% } %>      
      
<%}%>

</div>


  
</div>
</div>